@import "tailwindcss" important;

/**
 * ==========================================================================================
 * @Ref - tailwindcss.com/docs/theme (Tailwind CSS Theme)
 * ==========================================================================================
 */

@theme {
  --font-project-sans: sans-serif;
}

@layer components {
  .scrollbar--none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar--none {
    scrollbar-width: none;
  }

  .scrollbar--none {
    overflow: hidden;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Sora", Arial, Helvetica, sans-serif;
}
